<!DOCTYPE html>
<html>
<head>
    <title>Все оборудование</title>
</head>
<body>
    <h1>Все оборудование</h1>
    
    <a href="{{ url_for('main.admin_page') }}">Назад в админ-панель</a>
    
    {% if equipment_list %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Описание</th>
            <th>Зал</th>
        </tr>
        {% for equipment in equipment_list %}
        <tr>
            <td>{{ equipment[0] }}</td>
            <td>{{ equipment[1] }}</td>
            <td>{{ equipment[2] }}</td>
            <td>{{ equipment[3] }}</td>
            <td>{{ equipment[4] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Оборудование не найдено</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Оборудование не найдено</p>
    {% endif %}
</body>
</html>