<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    <!-- Шапка
    <header>
        <div class="logo">LET'S DANCE</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">О сервисе</a></li>
                <li><a href="#" class="active">Личный кабинет</a></li>
            </ul>
        </nav>
    </header> -->

    {% include 'header.html' %}

    <main>
        <div class="container">
            <div class="main-content">
                <h2>Личный кабинет</h2>

                <!-- Персональные данные -->
                <div class="user-info">
                    <div>
                        <label>Пользователь</label>
                        <span>Иванов Иван Иванович</span>
                    </div>
                    <div>
                        <label>Логин</label>
                        <span>letsdance</span>
                    </div>
                    <div>
                        <label>Почта</label>
                        <span>letsdance@mail.ru</span>
                    </div>
                    <div>
                        <label>Возраст</label>
                        <span>22</span>
                    </div>
                </div>

                <!-- Избранное -->
                <div class="favorites">
                    <h3>Избранное <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg></h3>
                    <div class="favorite-items">
                        <div class="favorite-item"></div>
                        <div class="favorite-item"></div>
                        <div class="favorite-item"></div>
                    </div>
                </div>

                <!-- Последние бронирования -->
                <div class="last-bookings">
                    <h3>Последние бронирования <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg></h3>
                </div>

                <!-- Действия -->
                <div class="actions">
                    <button class="pass">Выйти из аккаунта</button>
                    <button>Сменить пароль</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <hr>
        <p class="contacts">Контакты</p>
    </footer>
</body>
</html>
