<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <!-- Основное содержимое -->
    <main>
        <div class="container">
            <section class="registration-form">
                <h2>Регистрация</h2>
                <form  method="POST" action="{{ url_for('user.registration') }}">
                    <!-- Персональные данные -->
                    <h3>Введите ваши персональные данные</h3>
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input type="text" name="second_name"placeholder="Иванов">
                    </div>
                    <div class="form-group">
                        <label for="patronymic">Отчество</label>
                        <input type="text" name="patronymic" placeholder="Иванович">
                    </div>
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input type="text" name="first_name" placeholder="Иван">
                    </div>
                    <div class="form-group">
                        <label for="age">Возраст</label>
                        <input type="number" name="age" placeholder="22">
                    </div>
                    <!-- Данные для входа -->
                    <h3>Введите свою почту и придумайте пароль</h3>
                    <div class="form-group">
                        <label for="email">Почта</label>
                        <input type="email"name="email" placeholder="letsdance@mail.ru">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password"name="password" placeholder="password1234">
                    </div>
                    {% include 'flash_message.html' %}

                    <!-- Кнопка отправки -->
                    <button type="submit" class="submit-btn">Создать аккаунт</button>
                </form>
            </section>
        </div>
    </main>
    {% include 'footer.html' %}
    
</body>
</html>